/* Estilos del modal de carga */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  justify-content: center;
  align-items: center;
}

.loading-spinner {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
}

.excluded-teacher:hover {
  text-decoration: line-through;
  background-color: #a00404 !important;
  cursor: pointer
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.opcion1 {
}

.opcion1:hover {
  background-color: #d93f47;
  cursor: pointer;
}